/* * { border: 
  1px solid red; 
}    */

 body {
  background: url("./ocean_beach.jpg") no-repeat center center fixed; 
  background-size: cover;
  height: 100vh;
} 

header {
  background-color:  #292E37;
  background: linear-gradient(#292E37, transparent);
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding-bottom: 10px; */
}

#header-title {
  display: flex;
  justify-content: center;
}

#header-h1 {
  text-align: center;
  font-size: 8vh;
  font-family: 'Cinzel', serif;
  color: white;
}

#header-subtitle {
  text-align: center;
  font-size: 4vh;
  font-family: 'Ultra', serif;
  font-weight: 200;
  color: gold;
}

#flag-img {
  height: 8vh;
  padding-left: 10px;
  margin-bottom: 10px;
}

.search-header {
  background-color: darkgrey !important
}

/* BODY: */

#body-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#component-container {
  display: flex;
  justify-content: center;
  align-items: space-around;
  width: 75vw;
}

/* SEARCH SURF REPORT */

#card-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #292E37
}

#search-surf-text {
  font: gold;
}

#select-county-text,
#select-surf-break {
  color: gold;
  margin: 5px 0;
}

#search-card,
#search-card-two {
  border: 2px solid #5BC0DE;
  background-color:  #A9A9A9;
}

#search-card-two {
  height: 77vh;
}

#surf-spot-text {
  text-align: center;
}

#search-surf-report {
  text-align: center;
}

.card-header {
  background-color: #576E86;
  color: gold;
}

#map {
  margin: 10px 30px 10px 10px ;
  background-color: #292E37;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

 #map > div {
  height: 95%;
  width: 95%;
} 

#report-pop-up {
  padding: 15px;
}

.surf-conditions {
  border: 3px solid gold;
  background-color: #576E86;
}

h3.card-title {
  color: gold;
}

#swell,
#tide,
#wind {
  display: flex;
  justify-content: center;
  background-color: #292E37;
  color: white;
}

#picture-text {
  color: black;
  text-align: center;
  width: 60px;
}

#bummer-surf-spot {
  text-align: center;
}

#bummer {
  text-align: center;
  color: white;
}

#shape-details {
  text-align: center;
  margin: auto;
}

#surf-warning {
  text-align: center;
  color: darkred;
}
 
#report-h3 {
  width: 100%;
  text-align: center;
  color: gold;
}

#surf-spot-name {
  text-align: center;
}

#card-text-h4 {
  text-align: center;
  color: white;
}

/* FOOTER: */

footer {
  color: white;
  background-color: #292E37;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}

  /* {!!this.props.surfData && _.uniq(this.props.surfData.map(a => a.county_name)).map(b => 
  <option className="dropdown-item">{b}</option>)} */