  /* * { border: 
  1px solid red; 
}   */

 body {
  background: url("./ocean_beach.jpg") no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
} 

.charcoal {
  background-color:  #292E37;
  padding-bottom: 10px;
  background: linear-gradient(#292E37, transparent); 
}

.App-title {
  font-size: 100px !important;
  font-family: 'Cinzel', serif;
  color: white;
  margin: 0px;
}

.subtitle {
  font-family: 'Ultra', serif;
  color: gold;
  font-size: 35px;
}

.body-background {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-img {
  padding-left: 10px;
  margin-bottom: 10px;
}

.search-header {
  background-color: darkgrey !important
}

footer {
  color: white;
  background-color: #292E37;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-align: center;
}

.container {
  padding-top: 100px;
}

.test {
  background-color: #292E37 !important;
  border-color: #333
}

.selectcounty {
  color: gold;
  margin: 5px 0 5px 0;
  
}

.cardonesearch {
  border: 2px solid #5BC0DE;
  background-color:  #292E37;
}

bodyheaders {
  background-color: #576E86 !important
}

.card-header {
  background-color: #576E86;
  color: gold;
  
}

#map {
  height: 95%;
  width: 95%;
}

 .conditions {
  color: white !important
} 

.report-pop-up {
  padding: 15px !important
}

.surf-conditions {
  border: 3px solid gold;
  background-color: #576E86

}

h3.card-title {
  color: gold;
}

.condition-list li {
  background-color: #292E37 !important;
  color: white !important;
}

.picture-text {
  color: black !important;
  text-align: center !important;
  width: 60px !important
}

.bummer {
  color: white !important;
}

.condition-list li p {
  margin: auto !important
}

.warning-label {
  color: darkred !important
}
 
.overall {
  color: gold !important
} 

h4.card-text {
  color: white !important
}